<div class="md-date-range-picker md-whiteframe-1dp">
    <div layout="column">
        <div layout="row" layout-margin>
            <div class="md-date-range-picker__calendar-wrapper">
                <div class="md-date-range-picker__month-year" layout="row" layout-align="center center">
                    <div flex layout="column" layout-align="center center">
                        <span aria-label="Previous Month" class="md-button md-icon-button" event-key="prev">
                            <md-icon md-svg-src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTUuNCw3LjQgMTQsNiA4LDEyIDE0LDE4IDE1LjQsMTYuNiAxMC44LDEyICIvPjwvZz48L3N2Zz4="></md-icon>
                        </span>
                    </div>
                    <md-select md-container-class="md-date-range-picker__select" md-on-close="updateActiveDate()" ng-model="activeMonth" placeholder="Month" class="md-no-underline">
                        <md-option ng-value="::month.id" ng-repeat="month in months" ng-bind="::month.name"></md-option>
                    </md-select>
                    <md-select md-container-class="md-date-range-picker__select" md-on-close="updateActiveDate()" ng-model="activeYear" placeholder="Year" class="md-no-underline">
                        <md-option ng-value="::year.id" ng-repeat="year in years" ng-bind="::year.name"></md-option>
                    </md-select>
                    <div flex layout="column" layout-align="center center" class="hide-gt-sm show-sm show-xs">
                        <span aria-label="Next Month" class="md-icon-button md-button" event-key="next">
                            <md-icon style="transform: rotate(-180deg)" md-svg-src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTUuNCw3LjQgMTQsNiA4LDEyIDE0LDE4IDE1LjQsMTYuNiAxMC44LDEyICIvPjwvZz48L3N2Zz4="></md-icon>
                        </span>
                    </div>
                    <div flex layout="column" layout-align="center center" class="hide-sm hide-xs show-gt-sm">
                        <span aria-label="Next Month" ng-disabled="true" aria-hidden="true" class="md-icon-button md-button">
                            <md-icon></md-icon>
                        </span>
                    </div>
                </div>
                <div class="md-date-range-picker__week" style="font-size: 0;">
                    <span class="md-date-range-picker__calendar__grid" ng-repeat="day in days">{{::day.name}}</span>
                </div>
                <div class="md-date-range-picker__calendar">
                    <span ng-repeat="date in dates" class="md-date-range-picker__calendar__grid" ng-class="{'md-date-range-picker__calendar__selected':inSelectedDateRange(date), 'md-date-range-picker__calendar__start':isSelectedStartDate(date), 'md-date-range-picker__calendar__end':isSelectedEndDate(date), 'md-date-range-picker__calendar__not-in-active-month': !inCurrentMonth(date), 'md-date-range-picker__calendar__today' : isToday(date) }"
                         event-key="date1" event-param="{{$index}}">
                        <span class="md-date-range-picker__calendar__selection" ng-bind={{::date.getDate()}}></span>
                    </span>
                </div>
            </div>
            <div class="md-date-range-picker__calendar-wrapper hide-sm hide-xs show-gt-sm">
                <div class="md-date-range-picker__month-year" layout="row" layout-align="center center">
                    <div flex layout="column" layout-align="center center" style="visibility: hidden">
                        <span aria-label="Previous Month" class="md-button md-icon-button" event-key="prev">
                            <md-icon md-svg-src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTUuNCw3LjQgMTQsNiA4LDEyIDE0LDE4IDE1LjQsMTYuNiAxMC44LDEyICIvPjwvZz48L3N2Zz4="></md-icon>
                        </span>
                    </div>
                    <md-select md-container-class="md-date-range-picker__select" md-on-close="updateActiveDate(true)" ng-model="activeMonth2" placeholder="Month" class="md-no-underline">
                        <md-option ng-value="::month.id" ng-repeat="month in months" ng-bind="::month.name"></md-option>
                    </md-select>
                    <md-select md-container-class="md-date-range-picker__select" md-on-close="updateActiveDate(true)" ng-model="activeYear2" placeholder="Year" class="md-no-underline">
                        <md-option ng-value="::year.id" ng-repeat="year in years" ng-bind="::year.name"></md-option>
                    </md-select>
                    <div flex layout="column" layout-align="center center">
                        <span aria-label="Next Month" class="md-icon-button md-button" event-key="next">
                            <md-icon style="transform: rotate(-180deg)" md-svg-src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTUuNCw3LjQgMTQsNiA4LDEyIDE0LDE4IDE1LjQsMTYuNiAxMC44LDEyICIvPjwvZz48L3N2Zz4="></md-icon>
                        </span>
                    </div>
                </div>
                <div class="md-date-range-picker__week" style="font-size: 0;">
                    <span class="md-date-range-picker__calendar__grid" ng-repeat="day in days">{{::day.name}}</span>
                </div>
                <div class="md-date-range-picker__calendar">
                    <span ng-repeat="date in dates2" class="md-date-range-picker__calendar__grid" ng-class="{'md-date-range-picker__calendar__selected':inSelectedDateRange(date), 'md-date-range-picker__calendar__start':isSelectedStartDate(date), 'md-date-range-picker__calendar__end':isSelectedEndDate(date), 'md-date-range-picker__calendar__not-in-active-month': !inCurrentMonth(date, true), 'md-date-range-picker__calendar__today' : isToday(date) }"
                        event-key="date2" event-param="{{$index}}">
                        <span class="md-date-range-picker__calendar__selection" ng-bind={{::date.getDate()}}></span>
                    </span>
                </div>
            </div>  
        </div>
        <div class="md-date-range-picker__templates" ng-if="showTemplate">
            <div class="hide show-gt-sm" layout="row">
                <div flex layout="column">
                    <span class="md-button" aria-label="Hoje" ng-class="selectedTemplate === 'TD' ? 'md-primary md-raised' : ''" event-key="TD">Hoje</span>
                    <span class="md-button" aria-label="Ontem" ng-class="selectedTemplate === 'YD' ? 'md-primary md-raised' : ''" event-key="YD">Ontem</span>
                </div>
                <div flex layout="column">
                    <span class="md-button" aria-label="Essa semana" ng-class="selectedTemplate === 'TW' ? 'md-primary md-raised' : ''" event-key="TW">Essa semana</span>
                    <span class="md-button" aria-label="Semana passada" ng-class="selectedTemplate === 'LW' ? 'md-primary md-raised' : ''" event-key="LW">Semana passada</span>
                </div>
                <div flex layout="column">
                    <span class="md-button" aria-label="Esse mês" ng-class="selectedTemplate === 'TM' ? 'md-primary md-raised' : ''" event-key="TM">Esse mês</span>
                    <span class="md-button" aria-label="Mês passado" ng-class="selectedTemplate === 'LM' ? 'md-primary md-raised' : ''" event-key="LM">Mês passado</span>
                </div>
                <div flex layout="column">
                    <span class="md-button" aria-label="Esse ano" ng-class="selectedTemplate === 'TY' ? 'md-primary md-raised' : ''" event-key="TY">Esse ano</span>
                    <span class="md-button" aria-label="Ano passado" ng-class="selectedTemplate === 'LY' ? 'md-primary md-raised' : ''" event-key="LY">Ano passado</span>
                </div>
            </div>
            <div class="hide-gt-sm" layout="column" layout-padding>
                <md-input-container>
                    <label>Date Range Template</label>
                    <md-select md-container-class="md-date-range-picker__select" class="md-block" placeholder="Intervalo pré-definido" ng-model="selectedTemplate">
                        <md-option value=""></md-option>
                        <md-option aria-label="Today" value="TD" ng-click="handleClickSelectToday()">Hoje</md-option>
                        <md-option aria-label="Yesterday" value="YD" ng-click="handleClickSelectYesterday()">Ontem</md-option>
                        <md-option aria-label="This Week" value="TW" ng-click="handleClickSelectThisWeek()">Essa semana</md-option>
                        <md-option aria-label="Last Week" value="LW" ng-click="handleClickSelectLastWeek()">Semana passada</md-option>
                        <md-option aria-label="This Month" value="TM" ng-click="handleClickSelectThisMonth()">Esse mês</md-option>
                        <md-option aria-label="Last Month" value="LM" ng-click="handleClickSelectLastMonth()">Mês passado</md-option>
                        <md-option aria-label="This Year" value="TY" ng-click="handleClickSelectThisYear()">Esse ano</md-option>
                        <md-option aria-label="Last Year" value="LY" ng-click="handleClickSelectLastYear()">Ano passado</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
</div>